body{
	margin:0;
	font-family:arial,helvetica,sans-serif;
	}
	
	#topbar{
		background-color:#790000;
		width:100%;
		height:40px;
		color:white;
		
	}
	.fixedwidth{
	width:1050px;
	margin:0 auto;
	
	}
	#logodiv{
	padding-top:5px;
	float:left;
	border-right:1px solid #990000;
	padding-right:10px;
	}
	#signindiv {
	border-right:1px solid #990000;
	position:relative;
	font-weight:bold;
	padding:0 80px 0 50px;
	font-size: 0.9em;
	float:left;
	height:40px;
	}
	
	#topmenudiv {
	float:left;
	
	}
	#topmenudiv ul{
	margin:0;
	padding:0;
	
	}
	
	#topmenudiv li{
	padding:10px 20px 12px 20px;
	list-style:none;
	font-weight:bold;
	font-size:0.9em;
	border-right:1px solid #990000;
	float:left;
	
	}
	#searchdiv{
		float:left;
		padding:5px 0 0 10px;
	}
	#searchdiv input{
	height:25px;
	border:none;
	font-size: 0.9em;
	font-weight:bold;
	background-image:url("Images/search.png");
	background-repeat:no-repeat;
	background-position:right center;
	padding:0 20px 0 10px;
	}
	
	.break{
	clear:both;
	}
	
	#newsbar{
		background-color:#990000;
		width:100%;
		height:90px;
		color:white;
		
	}
	
	#newsbar p{
	margin:0;
	padding:0;
	padding-top:10px;
	float:left;
	}
	
	#newsheader{
	font-size:3em;
	
	}
	
	#Can{
	font-size:0.7em;
	padding-left:10px;
	}
	
	#rss{
	float:right;
	margin-top:30px;
	
	}
	
	#rss img{
	height:14px;
	}
	
	#topicmenu a
	{
	text-decoration:none;
	color:white;
	}
	
	#topicmenu a:hover {
	text-decoration:underline;
	color:white;
	}
	
	#topicmenu ul{
		background-color:#3E0C0D;
		padding:5px 0 0 5px;
		margin:0;
		height:20px;
		
	}
	
	
	#topicmenu li{
	list-style:none;
	font-size:0.8em;
	border-right:1px solid #990000;
	padding:0 6px 0 6px;
	float:left;
	background-color:none;
	font-weight:bold;
	}
	
	
	
	
	.selected{
	background-color:#EDEDED;
	color:#505050;
	height:20px;
	position:relative;
	top:-4px;
	padding-top:4px !important;
	}
	
	#content{
		width:100%;
		color:#505050;
		font-size:0.8em;
		
	}
	
	.date{
	font-weight:bold;
	}
		
	h1{
	color:#1F4F82;
	font-size:2.5em;
	}	
	
	.headlineimage{
	float:left;
	width: 400px;
	}
	
	.newsitem{
	position:relative;
	float:left;
	top:-15px;
	margin:10px;
	width:250px;
	font-size:1.1em;
	}
	
	.newsitem a {
	color:#1F4F82;
	text-decoration:none;
	}
	
	.newsitem a:hover {
	text-decoration:underline;
	}
	
	.video {
	background-image:url("Images/triangle.png");
	background-repeat:no-repeat;
	background-position:left center;
	padding-left:20px;
	}
	